[submodule "lib/orik"]
	path = lib/orik
	url = https://github.com/KDahlgren/orik.git
	branch = master
	ignore = dirty
[submodule "lib/sniper"]
	path = lib/sniper
	url = https://github.com/KDahlgren/sniper.git
	branch = master
	ignore = dirty
